html {
  /*background: url(img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
body {
  color: #cef;
  margin: 0 0 0 0;
  font-family: "Noto Sans", "Arial", sans-serif;
}

/* utility classes */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.center-children {
  text-align: center;
}
.displayNone { display: none; }
.center-div
{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;

  border-width: 1px;
  border-color: #fff;
}

/* layout */
#ol {
  display: none;
  position: fixed;
  z-index: 1000;
}
#ol.active {
  display: flex;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ol .close_ol {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000a;
}
#ol .close_ol:hover {
  background-color: #0006;
}
#ol img {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: 0 0 10vw 2vw #000;
}
#ol img:hover {
  /*box-shadow: 0 0 10vw 5vw #669;*/
}
#bg img {
  height: 100%;
  width:100%;
  object-fit: cover;
  position: fixed;
  z-index: -10;
}
.banner {
  position: relative;
  z-index: 100;
  font-family: 'Cinzel', serif;
  text-align: center;
  font-weight: normal;
  background: linear-gradient(to bottom, #000 50%, #0000 100%);
  background-size: cover;
}
.banner > .blank:first-of-type {
  height: 5vw;
}
.banner h1 {
  margin: 0 0 0 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 1; /* normal: 1.37 */
  background: -webkit-linear-gradient(#36a, #acf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.banner h2 {
  margin: 0 0 0 0;
  font-size: 1.5em;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
}
.banner a {
  text-decoration: none;
}
.banner > .blank:last-of-type {
  height: 2vw;
}
#nav-fixed-bg {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 3em;
  background: linear-gradient(#000f 50%, #0000 80%);
  display: flex;
  justify-content: flex-end;
}
#nav {
  position: sticky;
  top: 0em;
  z-index: 101;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}/*
#nav::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2em;
  background: linear-gradient(#0000 20%, #0006 50%, #0000 80%);
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s;
}*/
#nav > .btn-group {
  display: inline-flex;
}
#nav .btn {
  height: 2em;
  position: relative;
  pointer-events: auto;
  /*text-align: left;
  display: inline-block;
  width: 19%;
  max-width: 13em;
  overflow: hidden;*/
}
#nav .btn .text > span {
  display: none;
}
@media (min-width: 36.5em) {
  #nav .btn .text > span {
    display: inline;
    margin-left: 0.5em;
  }
}
nav a {
  text-decoration: none;
}
.btn .text {
  /*position: absolute;*/
  width: inherit;
  height: inherit;
  max-width: inherit;
  text-align: center;
  margin: 0 1em 0 1em;

  padding: 0.4em 0 0 0;
  color: #6af;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  transition: color 0.5s;
}
.btn .text:hover {
  color: #fff;
  transition: color 0.5s;
}
.btn .text.current-page {
  color: #fff;
}
.btn-bg-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: inherit;
  z-index: -2;
  background: radial-gradient(#000, #0000 75%);
  opacity: 1;
}
.btn-bg-light {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: inherit;
  z-index: -1;
  /*background: radial-gradient(#bdff, #36ff, #36f0 60%);*/
  background: radial-gradient(#36ff, #36ff, #36f0 75%);
  opacity: 0;
}
#vp > .blank {
  height: 5vw;
  min-height: 5vh;
}
#main {
}

/* home */
.newsfeed > .art-item {
  cursor: pointer;
}
.newsfeed > .art-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff0;
  transition: all .8s linear;
}

.newsfeed > .art-item > img {
  width: 100%;
  max-height: 28em;
  /* height changes after breakpoint @media 50em */
  object-fit: cover;
}
.newsfeed > .film-item {
  background-color: #004F;
}
.newsfeed > .film-item > .thumb-wrapper {
  height: 25em; /* weird bottom gap if not specified, css spec bug? */
}
.newsfeed > .film-item > .thumb-wrapper > img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}
.newsfeed > .film-item > .thumb-wrapper > .duration-badge {
  bottom: 0.2em;
}
.newsfeed > .film-item > .content {
  padding: 0.3em 0 0.5em 0;
  width: 100%;
  display: flex;
  bottom: 0;
}

.newsfeed > .art-item:hover::after {
  background: #fff3;
  transition: all .3s linear;
}

.newsfeed > .film-item > .content > .desc, .newsfeed > .film-item > .content > hr {
  display: none;
}
.newsfeed > .film-item > .content > h1 {
  margin: 0 0.5em 0;
}
.newsfeed > .film-item > .content > .metainfo {
  width: auto;
  margin: auto 0 auto auto;
}

/* articles */
.newsfeed {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5em;
  row-gap: 0.8em;
  justify-content: center;
  align-items: start;
  max-width: 90em;
  margin: 0 auto 0 auto;
  padding: 0 0.5em 1em 0.5em;
}
.newsfeed > .post-thumb {
  position: relative;
  overflow: hidden;
  max-height: 28em;
  /* bg and color found farther down in .post, .post-thumb */
}
.readMore {
  background: linear-gradient(#0000 0%, #013f 70%);
  position: absolute;
  width: 100%;
  height: 4em;
  bottom: 0;
  left: 0;
}
.readMore > div {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}
.readMore:hover {
  background: linear-gradient(#0000 0%, #115f 70%);
}
.post-thumb > .content {
  display: inline-block;
  overflow: hidden;
  padding: 0.5em 1em 3em 1em;
  text-align: left;
}
.post-thumb > .content:first-child > h1 {
  margin: 0 0 0 0;
}
.post-thumb > .content:first-child > h1 > a {
  pointer-events: auto;
  text-decoration: none;
}
.post-thumb > .content a {
  pointer-events: none;
  text-decoration: none;
}
.content img {
  max-width: 100%;
}
@media (min-width: 50em) {
  .newsfeed {
    grid-template-columns: 1fr 0.62fr 1fr;
  }
  .newsfeed > .post-thumb {
    width: 100%;
    height: 100%;
  }
  .newsfeed > .post-thumb:nth-of-type(4n+2) {
    /*color: red;*/
  }
  .newsfeed > .post-thumb:nth-of-type(4n) {
    grid-column: 1 / span 2;
    /*color: orange;*/
  }
  .newsfeed > .post-thumb:last-of-type {
    grid-column: 1 / span 3;
  }
  .newsfeed > .post-thumb:nth-of-type(4n+3) {
    grid-column: 2 / span 2;
    /*color: blue;*/
  }
  .newsfeed > .post-thumb:nth-of-type(4n+1) {
    grid-column: 3 / span 1;
    /*color: cyan;*/
  }
  .newsfeed > .post-thumb:first-of-type {
    grid-column: 1 / span 3;
  }
  #song-container { grid-column: span 2; }
  .newsfeed > .art-item > img {
    height: 28em;
  }
}
@media (min-width: 70em) {
  .newsfeed > .post-thumb:nth-of-type(4n+2) {
    grid-column: 3 / span 1;
    /*color: red;*/
  }
  .newsfeed > .post-thumb:nth-of-type(4n) {
    grid-column: 2 / span 2;
    /*color: orange;*/
  }
  .newsfeed > .post-thumb:nth-of-type(4n+3) {
    grid-column: 1 / span 1;
    /*color: blue;*/
  }
  .newsfeed > .post-thumb:nth-of-type(4n+1) {
    grid-column: 1 / span 2;
    /*color: cyan;*/
  }
}

/* ?post */
.post-wrap {
  max-width: 70em;
  margin: 0 auto 0 auto;
  padding: 0 0.5em 1em 0.5em;
  text-align: center;
}
.post {
  margin-bottom: 0.8em;
  width: 100%;
}
.post > .content, .show-desc {
  display: inline-block;
  padding: 0.1em 1em 1.5em 1em;
  max-width: 70em;
  text-align: left;
}
.content h1, .show-title h1 {
  text-align: center;
  font-family: 'Ubuntu', serif;
  font-weight: 300;
  color: #eef0ff;
}
.content img {
  display: block;
  margin: 1em auto 1em auto;
  border-style: solid none none none;
  border-color: #44c;
  border-radius: 1em;
}
.metainfo {
  width: 100%;
  font-size: 0.8em;
  color: #88f;
}
.metaitem, .eta {
  display: inline-block;
}
.metaitem {
  margin: 0 0.5em 0 0.5em;
}
.metaitem .fa-soundcloud { margin-right: 0.5em; }

/* comments plugin */
#comments {
  position: relative;
  width: 100%;
  min-height: 178px;
  background-color: #aaf;
}
#comments .metainfo {
  color: #003;
}
#comments > .fb-comments {
  max-width: 550px;
}
#goto-comments {
  text-decoration: none;
}
/* hide while loading */
#goto-comments span span {
  display: none;
}
#goto-comments span span.fb_comments_count {
  display: inline-block;
}
#goto-comments span.text {
  text-decoration: underline;
}

/* film */
.film-item {
}
.film-item > .thumb-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}
.film-item > .thumb-wrapper > img {
  max-width: 100%;
}
.thumb-wrapper > .duration-badge {
  position: absolute;
  bottom: 0.5em;
  right: 0.25em;
  margin: 0;
}
.film-item > .content {
}

/* gallery */
#art-vp {/*
  display: grid;
  grid-template-columns: 1fr 1fr;*/
  text-align: left;
  margin-bottom: 2em;
}
#art-vp .art-item {
  z-index: 0;
  max-width: 49vw;
  margin: 0.5vw;
  /*border-style: solid;
  border-color: #44c;*/
  border-radius: 1em;
  box-shadow: 0 0 1.2vh 0.4vh #66e;
  transition: 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  transition-property: background-color, transform;
}
.art-item.even {
  float: left;
}
.art-item.odd {
  float: right;
}
#art-vp.films .art-item {
  max-width: none;
  cursor: pointer;
}
.art-item img {
  border-radius: 1em 1em 0em 0em;
}
@media (min-width: 36.5em) {
  #art-vp.gallery {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  #art-vp.gallery .art-item {
    float: none;
    max-width: none;
    height: 30vh;
    max-height: 400px;
    margin: 0.5vh;
    object-fit: contain;
  }
  #art-vp.films {
    display: flex;
    justify-content: center;
  }
  #art-vp.films .art-item {
    max-width: 32em;
    flex: 1;
  }
}
#art-vp .art-item:hover {
  z-index: 1;
  background-color: #004F;
  transform: scale(1.2, 1.2);
  transition: 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition-property: background-color, transform;
}
/* ?show */
.show-wrap {
  display: grid;
  grid-template-areas:
    "hd"
    "me"
    "ds"
    "cm";
  justify-content: center;
  grid-gap: 0.5em;
  margin-bottom: 1em;
}
@media (min-width: 50em){
  .show-wrap {
    margin-left: 0.8em;
    margin-right: 0.8em;
    grid-template-areas:
      "me hd"
      "me ds"
      "cm cm";
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-rows: auto minmax(min-content, 100%) auto;
  }
}
.show-title {
  grid-area: hd;
  padding: 0 1em 1em 1em;
}
.show-title h1 {
  /* shared with .content h1
      hr shared with .content hr
  */
}
.show-media {
  text-align: center;
  grid-area: me;
}
#main .show-media img {
  max-width: calc(100% - 2vw);
  max-height: 90vh;
  padding: 1vw;
  border-radius: 1em;
}
#main .show-desc {
  grid-area: ds;
  /* shared with .post > .content */
  padding-top: 1em;
  text-align: left;
}
.show-desc .tag, .badge {
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #44c;
  border-radius: 0.3em 1em 0.3em 1em;
  background-color: #003a;
  padding: 0em 0.5em 0.1em 0.5em;
  margin: 0em 0.2em 0em 0.2em;
}
.badge {
  border-radius: 0.6em;
  border: none;
}
.show-wrap #comments {
  grid-area: cm;
}

/* Soundcloud */
#sc-widget {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
#playlist {
  text-align: left;
}
.track {
  padding: 0.5em 1em 0.5em 1em;
}
.track:hover {
  background-color: #88fa;
}
#playlist .track:first-child {
  padding-top: 1em;
}
#playlist .track:last-child {
  padding-bottom: 1em;
}
.duration, #music-time-end { float: right; }
#music-time-now { float: left; }

#wave-container {
  padding: 2em 1em 0em 1em;
  text-align: center;
}
#waveform {
  width: 100%;
  height: 10em;
}
.wave-seek { cursor: pointer; }
.wave-seek:hover > .wave-peak { fill: #fff; }
.wave-seek > * { fill: #f000; }
.wave-peak { fill: #6af; }
.wave-playhead ~ g > .wave-peak { fill: #44c; }
.wave-ol {
  position: relative;
  top: -5em;
}
#music-btn-toggle {
  font-size: 2em;
  cursor: pointer;
}
#song-info {
  text-align: left;
}

/* site-wide reusable styles */
.base-container {
  border-style: solid none none none;
  border-width: thick;
  border-color: #44c;
  border-radius: 1em;
  background-color: #003a;
  text-align: center;
}
a, #music-btn-toggle, .newsfeed > .film-item > .content > h1 {
  color: #6af;
}
a:hover, #music-btn-toggle:hover, .newsfeed > .film-item:hover > .content > h1 {
  color: #bdf;
}
.error {
  background-color: rgba(100,20,20,0.6);
  color: #f66;
}
img.hbar {
  border-style: none;
  margin: 0 auto 0 auto;
}
.title {
  font-family: 'Ubuntu', serif;
  font-weight: 300;
}
hr {
  width: 62%;
  border: none;
  border-top: 0.2em solid #44c;
  border-radius: 1em;
}
q, blockquote {
  margin-left: 4vw;
  margin-right: 4vw;
  color: #abf;
  font-family: 'EB Garamond', serif;
  font-size: 1.1em;
  font-weight: 500;
  quotes: '\201c' '\201d';
}
q::before, blockquote::before { content: open-quote; }
q::after, blockquote::after  { content: close-quote; }
.bold {font-weight: bold;}
.italic {font-style: italic;}

/* spoilers */
.spoiler {
border-style: solid;
border-color: #44c;
border-radius: 1em;
padding: 1em;
}
.spoiler > label{
  cursor: pointer;
  color: #6af;
}
.spoiler > label::before {
  content: "Show Spoilers";
  margin-right: 0.5em;
}
.spoiler > label::after {
  content: "\f070";
  font-family: "Font Awesome 5 Free"; font-weight: 900;
}
.spoiler > input:checked ~ label::after {
  content: "\f06e";
}
.spoiler-content,
.spoiler > input {
  display: none;
}
.spoiler > input:checked ~ .spoiler-content {
  display: inline;
}
/* iframes */
.responsive-iframe-container {
  padding:56.25% 0 0 0;
  position:relative;
  display: block;
}
.responsive-iframe-container > iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/* custom icons */
i.kz-logo {
  margin-left: -0.3em;
  margin-right: -0.3em;
}
i.kz-logo i {
  position: relative;
}
i.kz-logo i:nth-child(1){
  top: -0.32em;
  left: 0.18em;
  transform: rotate(45deg);
  font-size: 70%;
}
i.kz-logo i:nth-child(2){
  top: 0.1em;
  left: -0.3em;
}
